form {
  width: 800px;
}
.nameFieldRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin: 8px 0;
}
.loginFormPassword {
  margin: 8px 0;
}

.footerText {
}

.footerText {
  & :last-child {
    text-decoration: underline;
    color: rgb(184, 184, 184);
    margin-left: 5px;
  }
  margin: 10px 0;
  text-align: center;
}
